@import url('./__icon/video__icon.css');
@import url('./__icon/_type/_play/video__icon_type_play.css');
@import url('./__duration/video__duration.css');
@import url('./__title/video__title.css');
@import url('./__subtitle/video__subtitle.css');





.video__item {
    padding-left: 30px;
    padding-top: 30px;
    background-size: cover;
    /*width: 583px;*/
    /*height: 323px;*/
    position: relative;

    
}
.video__item::before {
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    /*width: 583px;
    height: 323px;*/
    content: "";
    z-index: -1;
    opacity: 0.8;
    border-radius: 5px;    
}
.video__item:hover:before {
    transition: opacity 0.5s ease-out;
    opacity: 0.3;
}

@media screen and (min-width : 768px) and (max-width : 1023px) {
    .video__item {
        width: 352px;
        height: 200px;
        display: flex;
        align-content: flex-end;
        flex-direction: column;
        padding: 24px;
        justify-content: flex-end;
        /*align-items: flex-start;*/
    }
    .video__item::before {
        width: 352px;
        height: 200px;
        padding: 24px;
    }
}

@media screen and (min-width : 1280px) {
    .video__item {
        width: 583px;
        height: 323px;
    }
    .video__item::before {
        width: 583px;
        height: 323px;
    }
}

@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .video__item {
        width: 456px;
        height: 288px;
    }
    .video__item::before {
        width: 456px;
        height: 288px;
    }
}