.content-title_block_cover {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    padding-top: 274px;
    color: #FFFDFD
}

@media screen and (min-width : 768px) and (max-width : 1023px) {
    .content-title_block_cover {
       padding-top: 165px; 
    }
}
@media screen and (max-width : 767px) {
    .content-title_block_cover {
        line-height: calc(75px + (100vw - 768px)*0.1018);
        padding-top: 104px;
        font-size: calc(72px + (100vw - 768px)*0.1018);

    }
}
@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .content-title_block_cover {
        padding-top: 211px;
        margin-top: 0;
    }
}