@import url('./__links/footer__links.css');
@import url('./__copywrite/footer__copywrite.css');
.footer {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    /*width: 1184px;*/
    margin: 0 auto 0;
    padding-bottom: 48px;
    align-items: baseline;
    
}

@media screen and (min-width : 1280px) {
    .footer {
        width: 1184px;
    }
}

@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .footer {
        padding: 0 47px 48px;
    }
}

@media screen and (min-width : 768px) and (max-width : 1023px) {
    .footer {
        padding: 0 23px 24px;
    }
}
@media screen and (max-width : 767px) {
    .footer {
        flex-direction: column;
        padding-left: 16px;
    }
}