.content-subtitle_block_lead {
    max-width: 583px;
    /*height: 65px;*/
    margin: 78px auto 0;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}
@media screen and (max-width : 375px) {
    .content-subtitle_block_lead {
        margin-top: 8px;
        font-size: 16px;
        line-height: 23px;
        width: 90%;
    }
}

@media screen and (min-width : 376px) and (max-width : 767px) {
   .content-subtitle_block_lead {
        margin-top: calc(8px + (100vw - 375px)*0.1018);
        font-size: calc(16px + (100vw - 375px)*0.0356);
        line-height: calc(23px + (100vw - 375px)*0.0331);
        width: 80%;
   }
}