.content-subtitle_block_lead {
    max-width: 583px;
    height: 65px;
    margin: 78px auto 0;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

@media screen and (min-width : 320px) and (max-width : 768px) {
   .content-subtitle_block_lead {
        margin-top: 8px;
   }
}