@font-face {
    src: url('Inter/Inter-Medium.otf');
    font-family: 'Inter';
}

@font-face {
    src: url('Inter/Inter-Italic.otf');
    font-family: 'Inter';
    font-style: italic;
}

@font-face {
    src: url('Inter/Inter-SemiBold.otf');
    font-family: 'Inter';
    font-weight: semibold;
}

@font-face {
    src: url('Inter/Inter-SemiBoldItalic.otf');
    font-family: 'Inter';
    font-style: italic;
    font-weight: semibold;
}

@font-face {
    src: url('Inter/Inter-Regular.otf');
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url('Inter/Inter-Bold.otf');
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
}

.page {
    background: #2A2C2F;
    margin: 0 auto 0;
    font-family: Inter;
    color: #FFFFFF;
}

.header {
    min-width: 1280px;
    max-width: 1440px;
    height: 130px;
    display: flex;
    flex-direction: row;
    margin: 0 auto 0;
}

.header__logo {
    background-image: url(images/logo.svg);
    width: 176.58px;
    height: 52px;
    margin-top: 30px;
    margin-left: 48px;
    margin-right: 929.42px;
}

.header__lang {
    width: 78px;
    height: 23px;
    display: flex;
    flex-direction: row;
    margin-top: 47px;
    justify-content: space-between;
}

.header__lang_element {
    width: 30px;
    height: 23px;
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    text-align: right;
}

.header__lang_element:active {  /* подчеркивание исчезает*/
    text-decoration: underline;
}

.lead {
    background: #2A2C2F;
    min-width: 1280px;
    max-width: 1440px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    width: 782px;
    height: 184px;
    margin: 0 auto 0;
}

.lead__subtitle {
    width: 583px;
    height: 65px;
    margin: 78px auto 0;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.lead__section {
    margin: 78px auto 0;
    display: flex;
    flex-direction: column;
    width: 984px;
}

.lead__image {
    height: 554.13px;
    display: block
}

.lead__capture {
    width: 636px;
    height: 10px;
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.intro {
    width: 984px;
    padding-top: 80px;
    margin: 0 auto 0;
}

.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
    margin: 0 auto 0;
}

.intro__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    margin: 45px auto 35px;
}

.intro__content-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}

.intro__text1 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    width: 683px;
    margin: 0 18px 0 0;
}

.intro__text2 {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    width: 220px;
    margin: 0;
}

.intro__text3 {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    list-style-type: none;
    padding: 0;
}

.photo-grid {
    width: 1184px;
    margin: 92px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.photo-grid__card {
    width: 284px;
    height: 188px;
}

.place {
    display: flex;
    width: 984px;
    flex-direction: row;
    margin: 72px auto 0;
}

.place__column1 {
    display: flex;
    width: 460px;
    flex-direction: column;
    margin-right: 40px;
}

.place__title {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 65px;
    margin: 0;
}

.place__img {
    width: 460px;
    height: 460px;
    margin-top: 60px;
}

.place__column2 {
    display: flex;
    width: 484px;
    flex-direction: column;
}

.place__url {
    margin: 87px 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
}

.place__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.place__website {
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 16px 0 60px;
}

.place__description1 {
    margin: 0 0 36px;
}

.place__description2 {
    margin: 0;
}

.video {
    width: 1184px;
    margin: 102px auto 0;
    /* text-align: center; */
}

.video__title {
    width: 800px;
    margin: 0 auto 48px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
}
.video__link {
    text-decoration: none;
    color: #FFFFFF;
}
.link:hover {
    opacity: .5;
}

.video__subtitle {
    width: 640px;
    margin: 0 auto 72px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
}

.video__block {
    width: 1184px;
    margin: 0 auto 0;
    display: grid;
    grid-template-columns: repeat(2, 583px);
    grid-column-gap: 18px;
}

.video__item {
    background-size: cover;
    width: 583px;
    height: 323px;
}

.video__playicon {
    margin-top: 30px;
    margin-left: 30px;
}

.item_pickamchatka {
    background-image: url(images/kamchatka.jpg);
}

.item__picobservary {
    background-image: url(images/observatory.jpg);
}

.video__time {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin-top: 94px;
    margin-left: 30px;
}

.video__item-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    margin-top: 12px;
    margin-bottom: 18px;
    margin-left: 30px;
}

.video__avtor {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    margin-left: 30px;
}

.additional__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    text-align: center;
    margin-top: 102px;
    margin-bottom: 48px;
}

.additional__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 72px;
}

.additional__container {
    display: grid;
    width: 1184px;
    margin: 0 auto 0;
    grid-template-columns: repeat(4, 284px);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.additional__item {
    width: 284px;
    height: 330px;
    position: relative;
}

.additional__item_bg-nvrssk {
    background-image: url(images/nvrssk.jpg);
}

.additional__item_bg-shihan {
    background-image: url(images/shickan.jpg);
}

.additional__item_bg-cherep {
    background-image: url(images/cherepovets.jpg);
}

.additional__item_bg-nikola {
    background-image: url(images/nikola.jpg);
}

.additional__item-title {
    margin-top: 30px;
    margin-left: 18px;
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 29px;
}

.additional__item-sybtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    width: 248px;
    position: absolute;
    bottom: 30px;
    left: 18px;
}

.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 382px);
    grid-row-gap: 19px;
    grid-column-gap: 19px;
    width: 1184px;
}

.cards__item {
    display: flex;
    width: 382px;
    flex-direction: column;
}

.cards__image {
    width: 97px;
    height: 97px;
    margin-bottom: 42px;
    border-radius: 48.5px;
}

.comments__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    text-align: center;
    width: 800px;
    margin: 102px auto 48px;
}

.comments__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    width: 640px;
    margin: 0 auto 72px;
}

.cards__quote {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
}

.cards__quote-author {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.cover {
    display:block;
    width: 1184px;
    height: 594px;
    margin: 102px auto 82px;
    text-align: center;
    position: relative;
    text-decoration: none;
}
.cover::before {
    background-image: url(images/cover.jpg);
    background-size: cover;
    position: absolute;
    width: 1184px;
    height: 594px;
    left: 0;
    right: 0;
    content: "";
    z-index: -1;
    opacity: 0.8;

} /* надо переделать на флекс*/

.cover:hover:before {
    opacity: 0.3;
}


.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    padding-top: 274px;
    color: #FFFDFD
}

.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    width: 382px;
    margin: 134px auto 0;
    color: #FFFFFF;
}

.emblem {
    display: flex;
    flex-direction: column;
    margin: 82px auto 85px;
    align-items: center;
    width: 1184px;
}

.emblem__title {
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    width: 443px;
    align-self: flex-start;
    margin: 0;
}

/*сделать перенос строчки */

.emblem__items {
    margin-top: 82px;
    display: grid;
    grid-template-columns: repeat(5, 208px);
    grid-row-gap: 36px;
    grid-column-gap: 36px;
}

.emblem__item {
    width: 208px;
}

.emblem__item-img {
    width: 186px;
    height: 226px;
    margin: 0 10px 35px;
}

.emblem__item-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #CCCCCC;
}

.barentsburg {
    width: 1184px;
    margin: 0 auto 160px;
}

.barentsburg__title {
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 61px;
}

.barentsburg__coord {
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 61px;
}

.barentsburg__img {
    width: 1184px;
    height: 464px;
    margin-bottom: 48px;
}

.barentsburg__columns {
    display: flex;
    flex-direction: row;
}

.barentsburg__text {
    width: 380px;
    margin: 0 120px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.barentsburg__url {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

.barentsburg__text-column {
    width: 282px;
}

.barentsburg__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 1184px;
    margin: 0 auto 0;
    padding-bottom: 48px;
}
.footer__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.footer__link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    margin: 0 18px 0 0;
    color: #FFFFFF;
}

.footer__copywrite {
    align-self: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    flex-grow: 1;
    margin: 0;
}