
.content-subtitle_block_cover {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    max-width: 382px;
    margin: 134px auto 0;
    color: #FFFFFF;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .content-subtitle_block_cover {
       margin-top: 45px; 
    }
}