
.content {
    background: #2A2C2F;
    margin: 0 auto 0;
    font-family: Inter, Arial, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;

}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

@media screen and (min-width : 1440px) {
    .content {
        max-width: 1440px;
    }
}
@media screen and (min-width : 1280px) and (max-width : 1439px) {
    .content {
        max-width: 1439px;
        min-width: 1280px;
        width:100%;
    }
    /* стили для планшета */
}
@media screen and (min-width :  1024px) and (max-width : 1279px) {
    .content {
        max-width: 1279px;
        min-width: 1024px;
        width:100%;
    }
    /* стили для планшета */
}

@media screen and (max-width : 425px) {
    /* стили для широкого смартфона */
}
