.content-title_block_lead {
    font-style: normal;
    font-weight: 900; 
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    max-width: 782px;
    
    margin: 0 auto 0;
}

@media screen and (min-width : 320px) and (max-width : 767px){
    .content-title_block_lead {
        font-size: 40px;
        line-height: 44px;
    }
}