@import url('./__url/place__url.css');
@import url('./__url/_margin_bigger/place__url_margin_bigger.css');
@import url('./__website/place__website.css');
@import url('./__description/place__description.css');
@import url('../../../../link/link.css');
.place__column-details {
    display: flex;
    width: 484px;
    flex-direction: column;
}
