@import url('../../../content-title/_block/_place/content-title_block_place.css  ');
@import url('./__description-set/place__description.css');
@import url('./__img/place__img.css');
@import url('./__url-set/place__url-set.css');
.place {
    display: grid;
    width: 984px;
    margin: 72px auto 0;
    grid-template-columns: 460px 484px;
    grid-gap: 60px 40px;
}
@media screen and (min-width : 1280px) and   {
    .place {
        width: 984px;
        margin: 72px auto 0;
        grid-template-columns: 460px 484px;
        grid-gap: 60px 40px;
       
    }
}
@media screen and (min-width : 1024px) and (max-width : 1279px) {
    .place {
        width: 928px;
        margin: 72px auto 0;
        grid-template-columns: 440px 456px;
        grid-gap: 40px 32px;
    }
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .place {
        width: 93.75%;
        margin: 72px auto 0;
        grid-template-columns: 47.222% auto;
        grid-gap: 40px 28px;
        
    }
}
