.place__description {
    margin: 0 0 36px;
    font-size: 18px;
    line-height: 30px;
}
.place__description:last-of-type {
    margin-bottom: 0;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .place__description {
        font-size: 16px;
        line-height: 27px;
        
    }
}
@media screen and (min-width : 375px) and (max-width : 767px) {
    .place__description {
        padding-left: calc(16px + (100vw - 376px)*0.491);
        padding-right: calc(16px + (100vw - 376px)*0.491);
        font-size: 16px;
        line-height: 27px;
    }
}
@media screen and (max-width : 375px) {
    .place__description {
        padding: 0 16px;
        font-size: 16px;
        line-height: 27px;
    }
}
