.cards__image {
    width: 97px;
    height: 97px;
    margin-bottom: 42px;
    border-radius: 48.5px;
}
@media screen and (max-width : 1023px) {
    .cards__image {
        margin: 0 auto 16px;
    }
}
@media screen and (max-width : 1023px) {
    .cards__image {
    order: -2;
    }
}
