@import url('./_type/_play/video__icon_type_play.css');

.video__icon {
    
    width: 41px;
    height:41px;
    /*align-self: flex-start;*/

}

@media screen and (min-width : 375px) and (max-width : 1023px) {
    .video__icon {
        /*align-content: flex-start;
        align-self: flex-start;*/
        justify-content: self-start;
        margin-bottom: auto;
    
    } 
}