@import url('./__logo/header__logo.css');
@import url('./__lang/header__lang.css');

.header {
    min-width: 1184px;
    max-width: 1344px;
    display: flex;
    flex-direction: row;
    margin: 30px auto 0;
    justify-content: space-between;
    min-height: 52px;
    align-items: baseline;
    
}