@import url('../../content-title/_block/_intro/content-title_block_intro.css');
@import url('../../content-subtitle/_block/_intro/content-subtitle_block_intro.css');
@import url('./__content-row/intro__content-row.css');
@import url('./__infa/intro__infa.css');
.intro {
    width: 984px;
    padding-top: 80px;
    margin: 0 auto 0;
}
/blocks/content-title/_block/_intro/content-title_block_intro.css