.lead__capture {
    width: 636px;
    height: 10px;
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
@media screen and (min-width : 768px) and (max-width :1024px) {
    .lead__capture {
        padding-left: 24px;
    }
    /* стили для планшета */
}
@media screen and (max-width : 767px) {
    .lead__capture {
        padding-left: 16px;
    }
}