
.content-title_block_place {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 65px;
    margin: 0;
}
@media screen and (min-width : 768px) and (max-width : 1023px) {
    .content-title_block_place {
        font-size: 42px;
        line-height: 46px;
        
    }
}
@media screen and (max-width : 375px) {
    .content-title_block_place {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
        padding-left: 16px;
    }
}
@media screen and (min-width : 376px) and (max-width : 767px) {
    .content-title_block_place {
        font-size: calc(32px + (100vw - 375px)*0.0254);
        line-height: calc(35px + (100vw - 375px)*0.028);
        margin-bottom: calc(32px + (100vw - 375px)*0.0204);
        padding-left: calc(16px + (100vw - 376px)*0.5064);
        
    }
}